configuration {
    modes: [ drun ];
	show-icons: true;
	drun-match-fields: "name,keywords";
    drun-show-actions: true;
    drun-display-format: "{name}";
    disable-history: false;
    threads: 0;
    steal-focus: true;
    monitor: 1;
}
@theme "theme.rasi"
